<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSM_V2.Properties.Settings.Conn" connectionString="Data Source=IFACTJUP;Persist Security Info=True;User ID=JUP1QMM;Password=elcaro$QMM;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>